<nav class= "top-bar" data-topbar role ="navigation">
	<ul class= "title-area">
		<li class="name">
			<h1><a href="#">FORMATOS</a></h1>

		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class= "has-dropdown not-click"><a href="#">DAC-RG-10</a>
				<ul class="dropdown">
					<li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#">DAC-RG-01</a></li>
					<li><label>Asesorias</label></li>
					<li><%=link_to 'Ver',controller:'/posts',action:'index'%></li>
					<li><%= link_to 'Nuevo', controller:'/posts',action:'new'%></li>
				</ul>
			</li>
		</ul>
		<li class="divider"></li>
	</ul>
	</section>
</nav>