
<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td>
          <% if post.body%>
          <a href="#" data-reveal-id="post-<%=post.id%>">Ver descripcion</a>
          <div id="post-<%=post.id%>" class="reveal-modal"data-reveal>
          <%=post.body%>
          <a class="close-reveal-modal">&#215;</a>
        </div>
        <% end %>
      </td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
